/* You can add global styles to this file, and also import other style files */
#defaultCanvas0{
    width: 100%;
    height: 100%; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.apploadercontainer .mat-dialog-container {
    border-radius: 20px !important;
  }

  .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden !important; 
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

#instructionDiv {
    position: absolute !important;
    top: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%; 
}
.img-thumbnail{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: auto;
}
*:focus{
    box-shadow: none !important;
}