.m-t-10{
    margin-top: 10px;
}
.m-l-10{
 margin-left: 10px;   
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .videoInsert {
    object-fit: cover;
}

#defaultCanvas0{
  color: blue;
  font-weight: bold;
  }

